<div class="row">
  <h4 class="title font-weight-bold">ジャンル一覧・追加</h4>
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_with model:@genre, url: admins_genres_path(@genre.id), method: :post, local: true do |f| %>
      <%= f.label :"ジャンル名", class:"form" %>
      <%= f.text_field :genre_name, class:"form" %>
      <%= f.submit "新規登録", class: "btn btn-success" %>
    <% end %>
  </div>
</div>   
</br>
      
<div class="row">
  <div class="col-md-6">
    <table bgcolor="#FFF" class="table table-bordered shadow">
        <thead class="bg-secondary text-light">
        <tr class="text-center">
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td class="text-left"><%= genre.genre_name%></td>
            <td><%= link_to "編集する", edit_admins_genre_path(genre), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@genres) %>
  </div>
</div>