<div class="row">
  <div class="col-md-3 mx-auto">

  <%= render 'genre_search', genres: @genres %>
  </div>
  <div class="col-md-9 mx-auto">
    <h4 class="mb-5 font-weight-bold"><%= @info %>一覧<span class="small"><%= "（全#{@item_all}件）" %></span></h5>
    <div class= "row row-cols-1 row-cols-md-2 row-cols-lg-4">
      <% @items.each do |item| %>

        <div class="col my-3">
          <div class="card h-100 shadow">
            <%= link_to item_path(item), :style=>"color:gray"  do %>
              <%= attachment_image_tag item, :image, fallback: "no-image.jpg", size: "100%", class: "card-img-top" %>
              <div class="card-content px-3">
                <h6 class="card-title pt-3"><%= item.name %></h6>
                <p class="text-center mt-auto"><%= "¥#{item.non_tax_price.to_s(:delimited)}" %></p>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
    <p><%= paginate @items, class: "justify-content-center" %></p>
  </div>
</div>
