<header>
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class=class="navbar-header">
       <% if admin_signed_in? %>
        <h3><%= link_to "nagano", admins_homes_top_path, class:"header-icon" %></h3>
        <% else %>
        <h3><%= link_to "nagano", root_path, class:"header-icon" %></h3>
        <% end %>
    </div>

    <div class="current_customer-name">
    <% if customer_signed_in? %>
      <span class="nav-link">ようこそ、<%= current_customer.last_name %>さん！</span>
    <% end %>
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <% if customer_signed_in? %>
        <ul class="nav navbar-right ml-auto">
          <li class="nav-item">
            <%= link_to ' マイページ', customers_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to ' 商品一覧', items_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to ' カート', cart_items_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class:"btn btn-light" %>
          </li>
          </ul>
        <% elsif admin_signed_in? %>
        <ul class="nav navbar-right ml-auto">
          <li class="nav-item">
            <%= link_to '商品一覧', admins_items_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to '会員一覧', admins_customers_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to '注文履歴一覧', admins_homes_top_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ジャンル一覧', admins_genres_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"btn btn-light" %>
          </li>
        </ul>

        <% else %>
        <ul class="nav navbar-right ml-auto">
          <li class="nav-item">
            <%= link_to ' About',about_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to ' 商品一覧', items_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to ' 新規登録', new_customer_registration_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to ' ログイン', new_customer_session_path, class:"btn btn-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "管理者画面", new_admin_session_path, class:"btn btn-light"  %>
          </li>
        </ul>
        <% end %>
      </ul>
    </div>
    </nav>
  </div>
</header>