<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if admin_signed_in? %>
        <% end %>
      <div id="flash">
        <%= render "layouts/flash" %>
      </div>
      <br/>
      <%= yield %>
    </div>
    <footer class="footer"></footer>
  </body>
</html>
